<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="menu-container">
        <h1>Menu Principal</h1>
        <!-- Formulário de Investimento com campos adicionais -->
        <form action="/investir" method="post">
            <label for="tipo">Tipo de Investimento:</label>
            <select id="tipo" name="tipo" required>
                <option value="" disabled selected>Selecione um tipo</option>
                <option value="CDB">CDB</option>
                <option value="LCI">LCI</option>
                <option value="LCA">LCA</option>
            </select>
            
            <label for="valor">Valor do Investimento:</label>
            <input type="number" id="valor" name="valor" required>
            
            <button type="submit">Investir</button>
        </form>

        <form action="/resgatar" method="post">
            <button type="submit">Resgatar</button>
        </form>


        <form action="/sair" method="post">
            <button type="submit">Sair</button>
        </form>
    </div>
</body>
</html>
